div.main {
    background-color: azure;
    border-radius: 5%;
    height: 200px;
    width: 400px;
}

img#tux {
    height: 50px;
    width: 50px;
    background-color: rgba(209, 209, 209, 0.5);
    box-shadow: 3px 3px 3px 3px rgb(82, 82, 82);
    border-radius: 27%;
    margin: -75px 2px -48px 8px;
}

#text {
    position: relative;
    margin: -35px 7px -3px 83px;
    padding: 5px 5px 5px 5px;
}

#text p {
    font-size: 8px;
}

#text h2 {
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

#text span {
    font-size: 10px;
    letter-spacing: 3px;
}

hr {
    color: rgb(168, 168, 168);
    border: gray solid 0.2px;
    margin-right: 194px;
    margin-bottom: 2px;
    margin-top: 2px;
}