h1.title {
    text-align: center;
    background-color: aliceblue;
    margin-left: 30%;
    margin-right: 30%;
}

table {
    width: 60%;
    text-align: center;
    border: 3px solid gray;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5px 0.5px 0.5px 0.5px;
}

tr {
    background-color: antiquewhite;
}

tr:nth-child(odd) {
    background-color: rgb(228, 228, 228);
}

tr:nth-child(even) {
    background-color: rgb(202, 202, 202);
}

tr.head {
    background-color: rgb(255, 186, 95);
}

td {
    border: 0.05em solid;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}